<nav
  class="
    navbar navbar-expand-lg navbar-light
    bg-white
    border-bottom
    justify-content-between
    p-2
    pr-5
  "
>
  <div><h4>Dealtrack</h4></div>
  <div class="dropdown">
    <button
      class="btn dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Test company 123
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  
  <div>
    <fa-icon class="m-1" [icon]="faBell" size="1x"></fa-icon>
    <fa-icon class="m-1" [icon]="faUserCircle" size="1x"></fa-icon>
  </div>
</nav>
