<button
  class="btn btn-default btn-lg"
  (click)="this.isNavBarOpen = !this.isNavBarOpen"
>
<i class="fa fa-bars "></i>
</button>
<nav
  class="
    navbar navbar-expand-lg navbar-light
    h-100
    align-items-start
    mobile-navbar
  "
  [ngClass]="{ 'mobile-navbar': isNavBarOpen }"
>
  <div class="d-flex flex-column justify-content-start nav-div w-100">
    <div
      class="collapse navbar-collapse d-flex flex-column w-100"
      id="navbarText"
    >
      <ul class="navbar-nav d-flex flex-column mt-4">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/page', 'dashboard']"
            routerLinkActive="router-link-active"
            ><i class="fa fa-home"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page">
            <i class="fa fa-handshake-o"></i> Deals</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/page', 'tasks']"
            routerLinkActive="router-link-active"
            ><i class="fa fa-tasks"></i> Tasks</a
          >
        </li>
        <li class="nav-item">
          <a style="cursor: pointer" class="nav-link"
          [routerLink]="['/page', 'testing']"
          routerLinkActive="router-link-active"
            ><i class="fa fa-cog"></i> Profile Settings</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
