<button class="btn btn-default btn-lg" (click)="toggleNavBar()">
  <span class="toggle toggle-nav" aria-hidden="true"></span>
</button>
<nav
  class="
    navbar navbar-expand-lg navbar-light
    h-100
    align-items-start
    mobile-navbar
  "
  [ngClass]="{ 'mobile-navbar': isNavBarOpen }"
>
  <div class="d-flex flex-column justify-content-start nav-div w-100">
    <div
      class="collapse navbar-collapse d-flex flex-column w-100"
      id="navbarText"
    >
      <ul class="navbar-nav d-flex flex-column mt-4">
        <li class="nav-item active">
          <a class="nav-link" aria-current="page"
            ><fa-icon class="m-2" [icon]="faHome" size="x"></fa-icon
            >Dashboard </a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"
            ><fa-icon
              class="m-2"
              [icon]="faHandshakeAltSlash"
              size="x"
            ></fa-icon
            >Deals</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page"
            ><fa-icon class="m-2" [icon]="faTasks" size="x"></fa-icon>Tasks</a
          >
        </li>
        <li class="nav-item">
          <a style="cursor: pointer" class="nav-link"
            ><fa-icon class="m-2" [icon]="faCog" size="x"></fa-icon>Profile
            Settings</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
