<nav
  class="
    navbar navbar-expand-lg navbar-light
    bg-white
    border-bottom
    justify-content-between
    p-2
    pr-5
  "
>
  <div><h4>Dealtrack</h4></div>
  <div class="dropdown">
    <button
      (click)="isUserDropdownVisibile = !isUserDropdownVisibile"
      class="btn dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Test company 123
    </button>
    <div
      class="dropdown-menu"
      aria-labelledby="dropdownMenuButton"
      [ngStyle]="{ display: isUserDropdownVisibile ? 'block' : 'none' }"
    >
      <a class="dropdown-item">Action</a>
      <a class="dropdown-item">Another action</a>
      <a class="dropdown-item">Something else here</a>
    </div>
  </div>

  <div>
    <i class="fas fa-bell"></i> 
    <i class="fas fa-user-circle"></i>
  </div>
</nav>
